<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594926136071-21get9b4d56n3lpctqf438hkbphsghkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594926136071-21get9b4d56n3lpctqf438hkbphsghkq</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYh4qQWeG7-e_NT75HTvK_Q0EF-oqS0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>594926136071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZiongLe.MealTime</string>
	<key>PROJECT_ID</key>
	<string>mealtime-1528297820940</string>
	<key>STORAGE_BUCKET</key>
	<string>mealtime-1528297820940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594926136071:ios:8227178c25c0252b</string>
	<key>DATABASE_URL</key>
	<string>https://mealtime-1528297820940.firebaseio.com</string>
</dict>
</plist>